<template>
<div>
    <img src="../assets/images/Component 1.png" class="header-circle-1" />
    <img src="../assets/images/Ellipse 3.png" class="header-circle-3" />
    <img src="../assets/images/Vector 2.png" class="header-image" />
    <div class="container">
        <div class="menu">
            <div class="menu-header">
                <div style="z-index: 10">
                    <h3>Camps.</h3>
                </div>
                <div class="menu-header-2" style="z-index: 10">
                    <div class="sous-menu">
                        <h5>Browser</h5>
                    </div>
                    <div class="sous-menu">
                        <h5>Bootcamps</h5>
                    </div>
                    <div class="sous-menu">
                        <h5>How it works</h5>
                    </div>
                    <div class="sous-menu">
                        <h5>Testimonial</h5>
                    </div>
                </div>
                <div class="btn btn-login">
                    <div class="inside-login">Login</div>
                    <div class="inside-login">
                        <img src="../assets/logo/right_arrow_25px.png" />
                    </div>
                </div>
            </div>
            <div class="menu-header-3">
                <div class="menu-header-31">
                    <div>
                        <h7>WELCOME TO CAMPS</h7>
                    </div>
                    <div>
                        <h1>Creative Digital <br>Business Agency</h1>
                    </div>
                    <div style="font-size: 0.65rem; margin-top: 15px">
                        <p>Learning in the process of acquering new, or modifying existing <br> knowledge, behaviors, skills, values or preferences.</p>
                    </div>
                    <div class="btn button-header-1">
                        More About Us
                    </div>
                </div>

                <img src="../assets/images/Component 2.png" class="header-circle-2" />
                <div class="image-header-bis">
                    <div class="image-1">
                        <img class="image-11" style="margin-left:10%" src="../assets/images/Rectangle 1.png" />
                    </div>
                    <div class="image-2">
                        <img class="image-22" src="../assets/images/Rectangle 2.png" />
                    </div>
                </div>
            
            </div>
            <div class="header-logo">
                <div class="header-logo-1">
                    <img src="../assets/logo/microsoft_50px.png" />
                    <div>MICROSOFT</div>
                </div>
                <div class="header-logo-2">
                    <img src="../assets/logo/paypal_50px.png" />
                    <div>PayPal</div>
                </div>
                <div class="header-logo-3">
                    <img src="../assets/logo/netflix_100px.png" />
                </div>
                <div class="header-logo-4">
                    <img src="../assets/logo/microsoft_50px.png" />
                    <div>MICROSOFT</div>
                </div>
                <div class="header-logo-5">
                    <img src="../assets/logo/visa_50px.png" />
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        name: 'Menu.vue',
    }

</script>

<style scoped src="../css/Menu.css">

</style>
