<template>
    <div id="section" class="container">
        <div class="section-1">
            <div class="section-button">
                <div class="btn btn-login">
                    <img src="../assets/logo/left_white_25px.png" />
                </div>
                <div class="btn btn-login">
                    <img src="../assets/logo/right_white_25px.png" />
                </div>
            </div>
            <div style="display: flex">
                <div class="section-card" v-for="car in cards" :key='car._id'>
                    <div class="card">
                        <img class="card-img-top" :src="car.image" alt="top-image"/>
                        <div class="card-body" style="font-size: 0.8rem; font-weight: 400">
                            <h6 class="card-title">
                                {{car.title}}
                            </h6>
                            <div class="card-text">
                                <div class="card-text-1">{{car.name}}</div>
                                <div class="card-text-2">
                                    <div style="color: #f4315c; margin: 0 5px">{{car.price}}</div>
                                    <div>{{car.view}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <span></span>
            <h3 style="margin: 20px 0">
                Choose your plan.
            </h3>
        </div>
    </div>
</template>

<script>
    export default {
        name : 'Section_4.vue',

        data(){
            return{
                cards : [
                    {
                        image: require('../assets/images/pexels-tara-winstead-8386748.jpg'),
                        title : 'Product Marketing: Creative Market',
                        name: 'Sarah Wild',
                        price: '1,267,450',
                        view: 'Views'
                    },
                    {
                        image: require('../assets/images/pexels-tara-winstead-8386748.jpg'),
                        title : 'Product Marketing: Creative Market',
                        name: 'Sarah Wild',
                        price: '1,267,450',
                        view: 'Views'
                    },
                    {
                        image: require('../assets/images/pexels-tara-winstead-8386748.jpg'),
                        title : 'Product Marketing: Creative Market',
                        name: 'Sarah Wild',
                        price: '1,267,450',
                        view: 'Views'
                    }
                ]
            }
        }
    }
</script>

<style scoped src='../css/Section_4.css'>

</style>