<template>
    <div>
        <div id="section">
            <span class="span"></span>
            <div class="section">
                <div>
                    <div class="best">
                        The best business <br> solution for you
                    </div>
                    <div style="margin-top: 20px; font-size: 0.91rem; color: #c9c5be">
                        Learning is the process of acquiring new, or modifying existing, <br>
                        learning is the process of acquiring new, or modifying existing,<br>
                        learning is the process of acquiring new, or modifying existing,
                    </div>
                </div>
                <div class="section-1">
                    <div class="circle-1"></div>
                    <div class="best-1">
                        Amazing Courses
                    </div>
                    <div class="bar-1"></div>
                    <div style="color: #c9c5be;">
                        Learning is the process of <br> acquiring new, or modifying
                    </div>
                </div>
                <div>
                    <div class="circle-2"></div>
                    <div class="best-1">
                        Bootcamps
                    </div>
                    <div class="bar-2"></div>
                    <div style="color: #c9c5be;">
                        Learning is the process of <br> acquiring new, or modifying
                    </div>
                </div>
            </div>
            <div class="container see-more">
                <div style="margin: 0 50px 0 0; font-weight: bold; font-size: 0.9rem">
                    See More Information
                </div>
                <img src="../assets/logo/right_25px.png"/>
            </div>
        </div>
    </div>
</template>
<script>
export default ({
    name: 'Section_1.vue'
})
</script>
<style scoped src="../css/Section_1.css">

</style>