<template>
    <div class="section">
        <img class="image-11" src="../assets/images/rectangle_2.png"/>
        <img class="image-12" src="../assets/images/Component 3.png" />
        <!--<img class="image-13" />-->
        <div class="section-sup">
            <div class="section-bis">
                <div class="section-1">
                    <div class="circle-1"></div>
                    <div class="best-1">
                        Bootcamps
                    </div>
                    <div class="bar-1"></div>
                    <div style="color: #c9c5be;">
                        Learning is the process of <br> acquiring new, or modifying
                    </div>
                </div>
                <div class="section-1">
                    <div class="circle-2"></div>
                    <div class="best-1">
                        Bootcamps
                    </div>
                    <div class="bar-2"></div>
                    <div style="color: #c9c5be;">
                        Learning is the process of <br> acquiring new, or modifying
                    </div>
                </div>
            </div>
            <div class="section-bis-1">
                <div>
                    <h3>Insight and resources to <br>help learn faster</h3>
                </div>
                <div>
                    Learning is the process of acquiring new, or modifying, <br>
                    Learning is the process of acquiring new, or modifying
                </div>
                <div class="see-more">
                    <div style="margin: 0 50px 0 0; font-weight: bold; font-size: 0.9rem">
                        See More Information
                    </div>
                    <img src="../assets/logo/right_25px.png"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Section_2.vue' 
}
</script>

<style scoped src='../css/Section_2.css'>

</style>