<template>
    <div id="section" class="container">
        <div class="section-top">
            <div class="section-11">
                <h3>Analysis of business <br>opportunities</h3>
                <div style="font-size: 0.8rem; font-weight: 400; color: #c9c5be">
                    Learning is the process of acquiring new, or modifying existing, <br>
                    learning is the process of acquiring new, or modifying existing,<br>
                    learning is the process of acquiring new, or modifying existing,
                </div>
                <div class="see-more">
                    <div style="margin: 0 50px 0 0; font-weight: bold; font-size: 0.9rem">
                        See More Information
                    </div>
                    <img src="../assets/logo/right_25px.png"/>
                </div>
            </div>
            <img class="image-12" src="../assets/images/Component 3.png" />
            <div class="section-1">
                <span class="span"></span>
                <h3 style="margin-top: 20px">
                    Explore our courses for <br>your business solution
                </h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : 'Section_3.vue'
    }
</script>

<style scoped src='../css/Section_3.css'>

</style>