<template>
    <div class="container">
        <div class="section">
            <div v-for="conten in contens" :key="conten._id">
                <div class="card">
                    <img class="card-image" :src="conten.image"/>
                    <div class="trans-card">
                        <h4 class="card-title">{{conten.title}}</h4>
                        <div style="text-align: center">{{conten.content}}</div>
                        <div class="card-1">
                            <div style="display: flex">
                                <h6 class="align">{{conten.device}}</h6>
                                <div class="card-text">
                                    <h2 class="align">{{conten.price}}</h2>
                                    <h6 class="align">{{conten.month}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-start hide">
                        Start Now
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Section_5.vue',

        data(){
            return{
                contens : [
                {
                    image: require('../assets/logo/tour_bus_100px.png'),
                    title: 'Personal',
                    content: 'learning is the process of acquiring new, or modifying existing',
                    price: '5',
                    month: 'month',
                    device: '$'
                },
                {
                    image: require('../assets/logo/tour_bus_100px.png'),
                    title: 'Team',
                    content: 'learning is the process of acquiring new, or modifying existing',
                    price: '45',
                    month: 'month',
                    device: '$'
                },
                {
                    image: require('../assets/logo/tour_bus_100px.png'),
                    title: 'Corporate',
                    content: 'learning is the process of acquiring new, or modifying existing',
                    price: '145',
                    month: 'month',
                    device: '$'
                },
                {
                    image: require('../assets/logo/tour_bus_100px.png'),
                    title: 'Popular',
                    content: 'learning is the process of acquiring new, or modifying existing',
                    price: '345',
                    month: 'month',
                    device: '$'
                }
            ]
            }
        }
    }
</script>

<style scoped src="../css/Section_5.css">

</style>