.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_1{
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 8%;
}
.header-circle-1{
    position: absolute;
    z-index: 2;
    height: 500px;
    top: -100px;
    left: -100px;
}
.header-circle-2{
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 43%;
    height: 400px;
}
.header-circle-3{
    position: absolute;
    z-index: 2;
    top: -45%;
    left: 50%;
    height: 500px;
}
.btn-login{
    transition: transform 2s ease;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 114, 89, 0.8);
    padding: 8px 25px 8px 50px;
    border-radius: 7px;
    background-image: linear-gradient(to right, #ff5244 , #ff206a);
    box-shadow: inset 2px 2px 2em rgba(255, 114, 89, 0.8), 2px 2px 2em rgba(255, 114, 89, 0.8);
}
.btn-login:hover{
    color: white;
    transform: scale(1.1);
}
.header-image{
    position: absolute;
    margin-left: -35px;
    margin-top: -50px;
    width: 1200px;
}
.inside-login{
    margin: 0 5px;
    font-size: 0.9rem;
}

.menu-header{
    display: flex;
    color: white;
    justify-content: space-around;
    z-index: 100;
    margin: 25px 0;
}

.menu-header-2{
    display: flex;
}
.sous-menu{
    margin: 0 20px;
}

.menu-header-3{
    display: flex;
    z-index: 10;
    justify-content: space-between;
    margin: 30px;
    margin-left: 90px;
}

.menu-header-31{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin: 45px;
}

.button-header-1{
    background-color: white;
    color: #ff2a50;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
    transition: transform 2s ease;
}

.button-header-1:hover{
    color: #ff2a50;
    transform: scale(1.1);
}

.image-header-bis{
    display: flex;
    justify-content: space-around;
}

.image-1, .image-2{
    cursor: pointer;
    z-index: 2;
}
.image-1{
    z-index: 11;
    position: absolute;
    margin-left: -720px;
    border-radius: 40px;
}

.image-2:hover{
    animation-name: image-2;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes image-2 {
    0%{margin-left: -45%;}
    50%{margin-left: 70%; z-index: 12;}
    100%{margin-left: -45%; z-index: 12;}
}

.image-22{
    margin-left:-45%; 
    border-radius: 40px;
    margin-top: 10px;
    box-shadow: inset 1px 2px 2em rgba(255, 64, 62, 0.2), 2px 2px 2em rgba(255, 0, 82, 0.3);
}
.image-11{
    border: none;
    height: 370px;
    border-radius: 20px;
    box-shadow: inset 1px 2px 2em rgba(255, 64, 62, 0.2), 2px 2px 2em rgba(255, 0, 82, 0.3);
}

.header-logo{
    display: flex;
    position: absolute;
    top: 85%;
    left: 25%;
    z-index: 2;
    width: 100px;
    height: 100px;
}

.header-logo-1, .header-logo-2, .header-logo-3, .header-logo-4, .header-logo-5{
    display: flex;
    align-items: center;
    color: #c8c5be;
    margin: 0 40px;
    z-index: 10;
    transition: transform 1s ease;
    cursor: pointer;
}

.header-logo-1:hover, .header-logo-2:hover, .header-logo-3:hover, .header-logo-4:hover, .header-logo-5:hover{
    transform: scale(1.4);
}