#section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.span{
    border: 2px solid #ff3073;
    width: 30px;
    margin: 20px 0;
    margin-left: 85px;
}

.best{
    font-weight: bold;
    font-size: 2rem;
}

.circle-1{
    border: 1px solid #ff3073;
    background-color: #ff1547;
    box-shadow: 2px 2px 1em rgba(255, 0, 47, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 2s ease;
}

.circle-2{
    border: 1px solid #38cbc5;
    background-color: #38cbc5;
    box-shadow: 2px 2px 1em rgba(56, 203, 107, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 2s ease;
}

.circle-2:hover, .circle-1:hover{
    transform: scale(1.2);
}

.section{
    display: flex;
    justify-content: space-around;
}

.best-1{
    font-size: 1rem;
    font-weight: 300;
}

.bar-1{
    border: 2px solid #ff2541;
    margin: 10px 0;
    width: 40px;
}

.bar-2{
    border: 2px solid #64cbc5;
    margin: 10px 0;
    width: 40px;
}

.see-more{
    margin: 50px 0 0 70px;
    display: flex; 
    color: #ff2541
}