
.section{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 20px;
    height: 400px;
    margin: 10px 20px;
    text-align: center;
    box-shadow: 1px 1px 2.5em rgba(0, 0, 0, 0.2);
    transition: transform 10s ease;
    transition-property: height;

}

.hide{
    display: none;
}

.trans-card:hover + .hide, .card-image:hover + .hide{
    display: block;
}

.card:hover{
    transform: scaleY(1.2);
    transform-origin: 0 0;
    cursor: pointer;
    height: 400px;
    font-size: 16px;
}


.card-1{
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    color: rgb(244, 49, 92); 
}

.align{
    text-align: center;
}

.card-text{
    display: flex;
    align-items: baseline;
}

.btn-start{
    align-self: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 60%;
    padding: 5px 20px;
    background-image: linear-gradient(to right, #ff5244 , #ff5244, #ff206a);
}

.hide:hover{
    display: block;
    color: white;
    font-weight: bold;
}

.card-image{
    width: 75px;
    height: 75px;
    margin: 30px;
    align-self: center;
}
