
.section-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-11{
    font-weight: 800;
    display: flex;
    position: relative;
    margin-top: 15%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.section-1{
    font-weight: 800;
    display: flex;
    position: relative;
    margin-top: 10%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.see-more{
    margin: 50px 0 0 0;
    display: flex; 
    color: #ff2541
}

.span{
    border: 2px solid #ff5e68;
    width: 50px;
}

.image-12{
    width: 30%;
    position: absolute;
    right: -10%;
    margin-top: 100px;
}