
.section{
    display: flex;
    justify-content: space-between;
}

.section-sup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

.section-bis{
    display: flex;
    position: absolute;
    right: 0%;
    top: 145%;
    z-index: 2;
    justify-content: space-around;
    margin-right: 100px;
}
.section-bis-1{
    position: absolute;
    margin-top: 10%;
    right: 15%;
}
.image-11{
    position: absolute;
    width: 40%;
    top: 155%;
    margin-left: -130px !important;
}

.image-12{
    position: absolute;
    z-index: 12;
    width: 35%;
    top: 143%;
    left: 13%;
}

.image-13{
    position: absolute;
    z-index: 12;
    width: 35%;
    height: 50%;
    top: 200%;
    left: 10%;
}

.circle-1{
    border: 1px solid #c583f5;
    background-color: #c583f5;
    box-shadow: 2px 2px 1em rgba(197, 131, 245, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 2s ease;
}

.circle-2{
    border: 1px solid #ff8d48;
    background-color: #ff8d48;
    box-shadow: 2px 2px 1em rgba(255, 141, 72, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 2s ease;
}

.circle-1:hover, .circle-2:hover{
    transform: scale(1.1);
}

.best-1{
    font-size: 1rem;
    font-weight: 300;
}

.section-1{
    padding: 0 80px;
}

.see-more{
    margin: 50px 0 0 0;
    display: flex; 
    color: #ff2541
}

.bar-1{
    border: 2px solid #d180f3;
    margin: 10px 0;
    width: 40px;
}

.bar-2{
    border: 2px solid #ff863a;
    margin: 10px 0;
    width: 40px;
}