
#section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-login{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(135deg, #ff6634, #ff2f63);
}

.section-button{
    display: flex;
    margin: 0 50px;
}

.section-card{
    display: flex;
}

.card{
    margin: 0 30px;
    width: 16rem; 
    height: 370px;
    box-shadow: 2px 2px 2em rgba(20, 20, 20, 0.2);
}

.card-img-top{
    height: 250px;
}
.card-text{
    display: flex;
    justify-content: space-between;
    color: #7c7c7c;
    font-weight: bold;
}

.card-body{
    margin: 10px 0 10px 0;
    justify-content: space-around;
}
.card-text-2{
    display: flex;
}

.section-1{
    display: flex;
    justify-content: space-between;
}

.section-2{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
}
span{
    width: 50px;
    border: 2px solid #ff6634;
}