<template>
  <div id="app">
    <Menu class="menu"/>
    <Section_1 class="container section_1"/>
    <Section_2 />
    <Section_3 />
    <Section_4 />
    <Section_5 />
  </div>
</template>

<script>
  import Menu from './components/Menu';
  import Section_1 from './components/Section_1';
  import Section_2 from './components/Section_2';
  import Section_3 from './components/Section_3';
  import Section_4 from './components/Section_4';
  import Section_5 from './components/Section_5';

  export default{
    name: 'App',
    created(){
      console.info('created is call');
    },
    mounted(){
      console.info('mounted is call');
    },
    methods:{
      joel(){
        console.info('methods is call');
      }
    },
    computed:{
      emile:()=>{
        console.info('computed is call');
      }
    },
    data(){
      return{
        frank: null
      }
    },
    components:{
      'Menu': Menu,
      'Section_1': Section_1,
      'Section_2': Section_2,
      'Section_3': Section_3,
      'Section_4': Section_4,
      'Section_5': Section_5,
    },
    props:{
      
    }
  }
</script>

<style lang="css" scoped>
  #app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section_1{
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
    margin: 300px 200px 0 170px;
}

</style>
